<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name= "cn" connectionString="Data Source=DESKTOP-IBPVCVC\\SQLEXPRESS;Initial Catalog=LearningPlatform;Integrated Security=True;TrustServerCertificate=true"/>
	</connectionStrings>



	<appSettings>
		<add key="Database" value ="LearningPlatform"/>
		<add key="ParentTableName" value="Instructor"/>
		<add key="ChildTableName" value ="Course"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Instructor"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Course"/>
		<add key="ParentReferencedKey" value="InstructorId"/>
		<add key="ChildForeignKey" value="InstructorId"/>
		<add key="ParentSelectionQuery" value="SELECT * from Course WHERE Instructor = {0}"/>
	</appSettings>
	

	
</configuration>