<div class="container-main container-login">
    <div class="wrap-main wrap-login">
      <span class="title-main">
        Delete Log
      </span>
      <table class='table'>
        <tr>
          <th>LogId</th>
          <th>Type</th>
          <th>Severity</th>
          <th>Date</th>
          <th>Message</th>
          <th>UserId</th>
        </tr>
        <tr *ngFor="let log of logs" [class.selected]="log === selectedLog" (click)="onSelect(log)">
          <td>{{log.id}}</td>
          <td>{{log.type}}</td>
          <td>{{log.severity}}</td>
          <td>{{log.date}}</td>
          <td>{{log.logtext}}</td>
          <td>{{log.user}}</td>
        </tr>
      </table>
      <nav class="pagination" id = "page-navigation">
        <button class="pages btn btn-info" *ngIf = "showPrevious" id = "prev-button" (click) = "goToPreviousPage()">Previous</button>
        <button class="pages btn btn-info" *ngIf = "showNext" id = "next-button" (click) = "goToNextPage()">Next</button>
      </nav>
      <div class="wrap-button">
        <button (click)="loadTable()" class="button btn-info">Load logs</button>
      </div>
<div *ngIf="selectedLog">
      <div class="form-main form-login">
        <span class="subtitle-main">
          Type
        </span>
        <div class="wrap-input">
          <input class="input" type="text" name="type" placeholder="Type" #type [(ngModel)]="selectedLog.type">
        </div>
        <span class="subtitle-main">
          Severity
        </span>
        <div class="wrap-input">
          <input class="input" type="text" name="severity" placeholder="Severity" #severity [(ngModel)]="selectedLog.severity">
        </div>
        <span class="subtitle-main">
          Date
        </span>
        <div class="wrap-input">
          <input class="input" type="date" name="date" placeholder="Date" #date [(ngModel)]="selectedLog.date">
        </div>
        <span class="subtitle-main">
          Message
        </span>
        <div class="wrap-input">
          <input class="input" type="text" name="message" placeholder="Message" #message [(ngModel)]="selectedLog.logtext">
        </div>
        <div class="wrap-button">
          <button (click)="deleteSelectedLog(selectedLog.id)" class="button btn-info" >Delete</button>
        </div>
      </div>
    </div>
      <div class="homepage-button">
        <a routerLink="/homepage" routerLinkActive="active">
          <button class="button btn-info">Homepage</button>
        </a>
      </div>
    </div>
  </div>